.teachers-section {
    text-align: center;
    margin: 50px auto 30px;
    max-width: 1000px;
    padding: 0 20px;
}

.teachers-section-p1 {
    font-size: 42px;
    font-weight: 800;
    color: #111;
    margin-bottom: 12px;
}

.teachers-section-p2 {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.teachers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.teacher-card {
    background: #fff;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 6px 15px rgba(0,0,0,0.07);
    transition: all 0.3s ease;
}

.teacher-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.teacher-card img {
    width: 100%;
    height: 280px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #102d99;
}

.teacher-card h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #222;
}

.teacher-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.teacher-card .subject {
    font-size: 15px;
    font-weight: 600;
    color: #102d99;
    margin-bottom: 12px;
}

.details-btn {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #4b5563;
  padding: 6px 0;
  position: relative;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.details-btn::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background: #1e3a8a;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.details-btn:hover {
  color: #1e3a8a;
  padding-left: 0px;
}

.details-btn:hover::before {
  width: 100%;
}

@media (max-width: 600px) {
    .teacher-card img {
        height: 220px;
    }
}
